<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.choa.s3.notice.NoticeDAO">
   <update id="noticeUpdate" parameterType="com.choa.s3.notice.NoticeDTO">
      update board set title = #{title}, contents=#{contents} where num = #{num}
   </update>
   
   <delete id="noticeDelete" parameterType="java.lang.Long">
      delete board where num = #{num}
   </delete>
   
   <select id="noticeSelect" parameterType="java.lang.Long" resultType="com.choa.s3.notice.NoticeDTO">
      select * from board where num = #{num}
   </select>
   
   <select id="noticeList" resultType="com.choa.s3.notice.NoticeDTO" parameterType="com.choa.s3.util.Pager">
     select * from
    (select rownum R, N.* from 
    (select * from board where
    <choose>
    	<when test="kind == 'tt'">
    		title
    	</when>
    	<when test="kind == 'wr'">
    		writer
    	</when>
    	<otherwise>
    		contents
    	</otherwise>
    </choose>
     like '%'||#{search}||'%' order by num desc) N)
    where R between #{startRow} and #{lastRow}
   </select>

   <insert id="noticeWrite"  parameterType="com.choa.s3.notice.NoticeDTO">
      insert into board values(NOTICE.nextval, #{title},#{writer},#{contents},sysdate, 0)
   </insert>
   
   <select id="noticeCount" resultType="java.lang.Long" parameterType="com.choa.s3.util.Pager">
        select count(num) from board 
        where
        <choose>
        	<when test="kind == 'tt'">
        		title
        	</when>
        	<when test="kind == 'wr'">
        		writer
        	</when>
        	<otherwise>
        		contents
        	</otherwise>
        </choose>
        like '%'||#{search}||'%'
   </select>

</mapper>